alembic==1.2.0
argcomplete==1.11.1
attrs==19.1.0
boto3==1.12.2
botocore==1.15.2
certifi==2019.9.11
cfn-flip==1.2.2
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
dash==1.12.0
dash-bootstrap-components==0.9.1
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
decorator==4.4.0
docutils==0.15.2
durationpy==0.5
Fiona==1.8.13.post1
Flask==1.1.1
Flask-Compress==1.4.0
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
future==0.17.1
geopandas==0.7.0
gunicorn==19.9.0
hjson==3.0.1
idna==2.8
importlib-metadata==1.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.0.2
jupyter-core==4.5.0
kappa==0.6.0
lxml==4.4.1
Mako==1.1.0
MarkupSafe==1.1.1
munch==2.5.0
nbformat==4.4.0
numpy==1.17.2
pandas==0.25.1
pandas-datareader==0.8.0
patsy==0.5.1
pip-tools==4.4.1
placebo==0.9.0
plotly==4.6.0
plotly-express==0.4.1
psycopg2-binary==2.8.4
pyproj==2.6.0
pyrsistent==0.15.4
python-dateutil==2.8.0
python-editor==1.0.4
python-slugify==4.0.0
pytz==2019.2
PyYAML==5.3
requests==2.22.0
retrying==1.3.3
s3transfer==0.3.3
scipy==1.4.1
Shapely==1.7.0
six==1.12.0
SQLAlchemy==1.3.8
statsmodels==0.11.1
text-unidecode==1.3
toml==0.10.0
tqdm==4.43.0
traitlets==4.3.2
troposphere==2.5.3
urllib3==1.25.5
Werkzeug==0.16.0
wrapt==1.11.2
wsgi-request-logger==0.4.6
WTForms==2.2.1
zappa==0.50.0
zipp==3.0.0
